<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bangju.dagym-monthly-pt</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/bangju/Library/Application Support/BangjuWorklog/dagym-sync/scripts/dagym-monthly-pt-sync.sh</string>
    </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>DAGYM_USER_DATA_DIR</key>
    <string>/Users/bangju/Library/Application Support/BangjuWorklog/dagym-sync/browser-profile</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/bangju/Library/Application Support/BangjuWorklog/dagym-sync</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>1</integer>
    <key>Minute</key>
    <integer>5</integer>
  </dict>
  <key>StartInterval</key>
  <integer>3600</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/bangju/Library/Application Support/BangjuWorklog/dagym-sync/work/dagym-sync.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/bangju/Library/Application Support/BangjuWorklog/dagym-sync/work/dagym-sync.err.log</string>
</dict>
</plist>
